.exchangeRateTable{
    width: 80vw;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 5%;
    background: rgba(255, 255, 255, 0.80);
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    border-radius: 5px;
}

p.reference{
    margin-bottom: 4%;
    padding: 1%;
    font-weight: bold;
    font-size: 0.8rem;
    color: gray;
}