

.app-container{
    text-align: center;
    margin-top: 30vh;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    background: rgba(255, 255, 255, 0.80);
    color: grey;
    padding: 0.5px 0 4px 0;
}
